@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --font-family: "Chakra Petch", sans-serif;
  --transitionFactor: 1;
  /* Color */
  --color-bg-primary: #131313;
  --color-bg-primary-50: rgb(19, 19, 19,.50);
  --color-card-primary: #0A0A0A;
  --color-card-primary-50: rgb(10, 10, 10,.50);
  --color-card-blue: #083943;
  --color-border-red: #8D1A1C;
  --color-border-blue: #01687E;
  --color-border-blue-80: rgb(1, 104, 126, 0.8);
  --color-text-primary: #fff;
  --color-text-secondary: #AAAAAA;
  --color-text-red: #BD090B;
  --color-text-blue: #289BB5;
  --radius: 10;
  --base-screen-height: 1440;
  --scale: 1;
  --px: calc(1vh / var(--base-screen-height) * 100 * var(--scale));
  --border-radius: calc(var(--radius) * var(--px));
}

*,
::after,
::before {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(88, 88, 88, 0.8);
  border-radius: 0.4vh;
}

body {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(20 * var(--px));
}

#app {
  width: 100vw;
  height: 100vh;
  padding: calc(40 * var(--px));
  position: relative;
  overflow: hidden;
  background-image: url("https://i.imgur.com/iPTAdYV.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
}
.container .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .wrapper .sliders {
  width: calc(1000 * var(--px));
  height: calc(1000 * var(--px));
  background: rgba(19, 19, 19, 0.9);
  border-radius: calc(20 * var(--px));
  padding: calc(20 * var(--px));
  overflow: hidden;
}
.container .wrapper .sliders nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(10 * var(--px));
}
.container .wrapper .sliders nav ul {
  display: flex;
  gap: calc(10 * var(--px));
}
.container .wrapper .sliders nav ul a {
  background: var(--color-card-blue);
  color: #fff;
  text-decoration: none;
  border-radius: calc(5 * var(--px));
  padding: calc(4 * var(--px)) calc(8 * var(--px));
}
.container .wrapper .sliders nav ul a:hover {
  background: var(--color-border-blue);
}
.container .wrapper .sliders nav ul a.active {
  background: var(--color-border-blue);
  box-shadow: 0 0 4px 0 var(--color-text-blue);
}
.container .wrapper .sliders nav .cancle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #720202;
  padding: 0 calc(10 * var(--px));
  border-radius: calc(5 * var(--px));
}
.container .wrapper .sliders .sliders-track {
  display: flex;
  width: 100%;
  height: calc(880 * var(--px));
  transition: transform 0.5s ease;
}
.container .wrapper .sliders .sliders-track .sliders-card {
  flex: 0 0 100%;
  height: 100%;
  opacity: 0;
  padding: calc(10 * var(--px));
  background: rgba(8, 57, 67, 0.5);
  border-radius: calc(20 * var(--px));
  border: 1px solid #00768d;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.container .wrapper .sliders .sliders-track .sliders-card .header {
  font-size: calc(24 * var(--px));
  font-weight: 900;
}
.container .wrapper .sliders .sliders-track .sliders-card .content {
  height: calc(800 * var(--px));
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: auto;
}
.container .wrapper .sliders .sliders-track .sliders-card.is-active {
  opacity: 1;
  pointer-events: auto;
}
.container .wrapper .sliders .sliders-track-input .sliders-card {
  height: calc(900 * var(--px));
  padding: calc(10 * var(--px));
  background: rgba(8, 57, 67, 0.5);
  border-radius: calc(20 * var(--px));
  border: 1px solid #00768d;
  transition: opacity 0.5s ease;
}
.container .wrapper .sliders .sliders-track-input .sliders-card .create {
  margin: calc(10 * var(--px)) 0;
  width: calc(100 * var(--px));
  padding: calc(2 * var(--px)) 0;
  border-radius: calc(5 * var(--px));
  text-align: center;
  cursor: pointer;
  background: #508d00;
}
.container .wrapper .sliders .sliders-track-input .sliders-card .items-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131313;
  height: calc(60 * var(--px));
  padding: calc(10 * var(--px));
}
.container .wrapper .sliders .sliders-track-input .sliders-card .items-data .data {
  display: flex;
  gap: calc(10 * var(--px));
}
.container .wrapper .sliders .sliders-track-input .sliders-card .items-data .data .num {
  width: calc(40 * var(--px));
  border-right: 1px solid #00768d;
}
.container .wrapper .sliders .sliders-track-input .sliders-card .items-data .data .head {
  width: calc(240 * var(--px));
  border-right: 1px solid #00768d;
}
.container .wrapper .sliders .sliders-track-input .sliders-card .items-data .data .head input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
}
.container .wrapper .sliders .sliders-track-input .sliders-card .items-data .data .list {
  width: calc(440 * var(--px));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid #00768d;
}
.container .wrapper .sliders .sliders-track-input .sliders-card .items-data .action {
  display: flex;
  gap: calc(5 * var(--px));
}
.container .wrapper .sliders .sliders-track-input .sliders-card .items-data .action .edit {
  background: #8f4a09;
  padding: 0 calc(10 * var(--px));
  border-radius: calc(5 * var(--px));
}
.container .wrapper .sliders .sliders-track-input .sliders-card .items-data .action .delete {
  background: #791212;
  padding: 0 calc(10 * var(--px));
  border-radius: calc(5 * var(--px));
}
.container .wrapper .sliders .controls {
  display: flex;
  justify-content: center;
  gap: calc(20 * var(--px));
  margin-top: calc(10 * var(--px));
}
.container .wrapper .sliders .controls button {
  display: inline-block;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: calc(40 * var(--px));
  background: rgba(0, 118, 141, 0.5);
  border-radius: calc(5 * var(--px));
  border: 1px solid var(--color-border-blue);
  color: #fff;
}

.container-modal-create,
.container-modal-edit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: calc(10 * var(--px));
  background: rgba(0, 0, 0, 0.89);
  z-index: 999;
}
.container-modal-create .container-modal-card,
.container-modal-edit .container-modal-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(1000 * var(--px));
  height: calc(1000 * var(--px));
  background: rgba(8, 57, 67, 0.5);
  border-radius: calc(20 * var(--px));
  border: 1px solid #00768d;
}
.container-modal-create .container-modal-card .create textarea,
.container-modal-create .container-modal-card .edit textarea,
.container-modal-edit .container-modal-card .create textarea,
.container-modal-edit .container-modal-card .edit textarea {
  width: calc(1000 * var(--px));
  height: calc(1000 * var(--px));
  background: none;
  border: none;
  outline: none;
  padding: calc(20 * var(--px));
  color: #fff;
}
.container-modal-create .container-modal-card .button,
.container-modal-edit .container-modal-card .button {
  display: flex;
  gap: calc(20 * var(--px));
}
.container-modal-create .container-modal-card .button .save,
.container-modal-edit .container-modal-card .button .save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100 * var(--px));
  height: calc(40 * var(--px));
  border-radius: calc(5 * var(--px));
  background: #508d00;
  cursor: pointer;
}
.container-modal-create .container-modal-card .button .cancle,
.container-modal-edit .container-modal-card .button .cancle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100 * var(--px));
  height: calc(40 * var(--px));
  border-radius: calc(5 * var(--px));
  background: #525252;
  cursor: pointer;
}

.container-modal-edit.active,
.container-modal-create.active {
  display: block;
}

::-webkit-scrollbar {
  width: calc(5 * var(--px));
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #289BB5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #083943;
  border-radius: calc(10 * var(--px));
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-gray {
  color: #999;
}

.text-red {
  color: #e74c3c;
}

.text-green {
  color: #2ecc71;
}

.text-blue {
  color: #3498db;
}

.border-test {
  border-width: 1px;
  border-style: solid;
  border-color: #e74c3c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.poem::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  border-radius: calc(10 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar {
  width: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-track {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.poem-x::-webkit-scrollbar {
  width: calc(1 * var(--px));
  height: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}
