@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

body { 
    overflow: hidden; 
    font-family: 'Prompt', sans-serif; 
    user-select: none;
    background: transparent; 
    height: 100vh;
    margin: 0;
}

#task-panel {
    position: fixed;
    top: 70%; 
    transform: translateY(-50%) scale(0.7); 
    
    right: 20px; 
    left: auto; 
    
    display: flex;
    gap: 15px;
    
    padding: 20px 15px; 
    border-radius: 50px;
    
    
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 100;
}

#task-panel.show { opacity: 1; }

.status-circle {
    width: 50px;
    height: 50px;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #555;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* เด้งดึ๋ง */
    border: 2px solid #444;
}

.status-circle.active {
    background-color: #00a8ff;
    color: white;
    box-shadow: 0 0 15px #00a8ff, inset 0 0 10px rgba(255,255,255,0.3);
    border-color: #00a8ff;
    transform: scale(1.1); 
}

.status-circle.repaired {
    animation: popDown 0.4s ease forwards;
    background-color: #2ecc71; /* เปลี่ยนเป็นสีเขียวแป๊บนึงก่อนดับ (Optional) */
    border-color: #27ae60;
}

@keyframes popDown {
    0% { transform: scale(1.1); background-color: #2ecc71; }
    50% { transform: scale(0.9); }
    100% { transform: scale(1.0); background-color: #333; border-color: #444; color: #555; }
}