@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --font-family: "Chakra Petch", sans-serif;
  --transitionFactor: 1;
  /* Color */
  --color-bg-primary: #131313;
  --color-bg-primary-50: rgb(19, 19, 19,.50);
  --color-bg-primary-90: rgb(19, 19, 19,.90);
  --color-card-primary: #0A0A0A;
  --color-card-primary-50: rgb(10, 10, 10,.50);
  --color-card-blue: #083943;
  --color-border-red: #8D1A1C;
  --color-border-blue: #01687E;
  --color-border-blue-80: rgb(1, 104, 126, 0.8);
  --color-text-primary: #fff;
  --color-text-secondary: #AAAAAA;
  --color-text-red: #BD090B;
  --color-text-blue: #289BB5;
  --radius: 10;
  --base-screen-height: 1440;
  --scale: 1;
  --px: calc(1vh / var(--base-screen-height) * 100 * var(--scale));
  --border-radius: calc(var(--radius) * var(--px));
}

*,
::after,
::before {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(88, 88, 88, 0.8);
  border-radius: 0.4vh;
}

body {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(20 * var(--px));
}

#app {
  width: 100vw;
  height: 100vh;
  padding: calc(40 * var(--px));
  position: relative;
  overflow: hidden;
  background-image: url("https://i.imgur.com/iPTAdYV.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
}
.container .wrapper {
  bottom: calc(300 * var(--px));
  width: auto;
  height: auto;
}
.container .wrapper .event-cement {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(370 * var(--px));
  height: calc(140 * var(--px));
}
.container .wrapper .event-cement img {
  position: absolute;
  z-index: 1;
  width: calc(160 * var(--px));
  filter: drop-shadow(0 calc(4 * var(--px)) calc(5 * var(--px)) #F8DAA7);
}
.container .wrapper .event-cement .event-cement-box {
  position: absolute;
  right: 0;
  width: calc(320 * var(--px));
  height: calc(110 * var(--px));
  background: var(--color-bg-primary-90);
  border: calc(4 * var(--px)) solid #F8DAA7;
  border-radius: calc(10 * var(--px));
  box-shadow: 0 0 calc(15 * var(--px)) #F8DAA7;
}
.container .wrapper .event-cement .event-cement-box .name {
  position: absolute;
  display: flex;
  align-items: center;
  gap: calc(5 * var(--px));
  top: calc(5 * var(--px));
  left: calc(115 * var(--px));
}
.container .wrapper .event-cement .event-cement-box .name .line {
  width: calc(5 * var(--px));
  height: calc(42 * var(--px));
  background: #F8DAA7;
}
.container .wrapper .event-cement .event-cement-box .name .event-name .text-1 {
  font-size: calc(18 * var(--px));
  color: var(--color-text-secondary);
  font-weight: 900;
}
.container .wrapper .event-cement .event-cement-box .name .event-name .text-2 {
  font-size: calc(26 * var(--px));
  color: #F8DAA7;
  font-weight: 900;
  line-height: 1;
}
.container .wrapper .event-cement .event-cement-box .start {
  position: absolute;
  display: flex;
  align-items: center;
  gap: calc(20 * var(--px));
  bottom: 0;
  left: calc(100 * var(--px));
}
.container .wrapper .event-cement .event-cement-box .start .text-1 {
  font-size: calc(24 * var(--px));
  color: var(--color-text-primary);
  font-weight: 900;
}
.container .wrapper .event-cement .event-cement-box .start .text-2 {
  font-size: calc(28 * var(--px));
  color: #F8DAA7;
  font-weight: 900;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-gray {
  color: #999;
}

.text-red {
  color: #e74c3c;
}

.text-green {
  color: #2ecc71;
}

.text-blue {
  color: #3498db;
}

.border-test {
  border-width: 1px;
  border-style: solid;
  border-color: #e74c3c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.poem::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  border-radius: calc(10 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar {
  width: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-track {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.poem-x::-webkit-scrollbar {
  width: calc(1 * var(--px));
  height: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}
