@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --font-family: "Chakra Petch", sans-serif;
  --transitionFactor: 1;
  /* Color */
  --color-bg-primary: #131313;
  --color-bg-primary-90: rgb(19, 19, 19,.90);
  --color-bg-primary-50: rgb(19, 19, 19,.50);
  --color-card-primary: #0A0A0A;
  --color-card-primary-50: rgb(10, 10, 10,.50);
  --color-card-blue: #083943;
  --color-border-red: #8D1A1C;
  --color-border-blue: #01687E;
  --color-border-blue-80: rgb(1, 104, 126, 0.8);
  --color-text-primary: #fff;
  --color-text-secondary: #AAAAAA;
  --color-text-red: #BD090B;
  --color-text-blue: #289BB5;
  --radius: 10;
  --base-screen-height: 1440;
  --scale: 1;
  --px: calc(1vh / var(--base-screen-height) * 100 * var(--scale));
  --border-radius: calc(var(--radius) * var(--px));
}

*,
::after,
::before {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(88, 88, 88, 0.8);
  border-radius: 0.4vh;
}

body {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(20 * var(--px));
}

#app {
  width: 100vw;
  height: 100vh;
  padding: calc(40 * var(--px));
  position: relative;
  overflow: hidden;
  background-image: url("https://i.imgur.com/iPTAdYV.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
}
.container .wrapper {
  right: 0;
  bottom: 0;
  width: calc(384 * var(--px));
  height: calc(352 * var(--px));
}
.container .wrapper .list-economy {
  width: 100%;
  height: 100%;
  background: var(--color-bg-primary-90);
  border-radius: calc(20 * var(--px));
}
.container .wrapper .list-economy .list-economy-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(10 * var(--px));
  height: calc(67 * var(--px));
  background: rgba(18, 199, 234, 0.8);
  border-radius: calc(20 * var(--px)) calc(20 * var(--px)) 0 0;
  font-size: calc(24 * var(--px));
  font-weight: 900;
}
.container .wrapper .list-economy .list-economy-head img {
  width: calc(40 * var(--px));
}
.container .wrapper .list-economy .list-economy-body {
  width: 100%;
  height: calc(240 * var(--px));
  margin-top: calc(10 * var(--px));
  overflow: hidden;
}
.container .wrapper .list-economy .list-economy-body .list-economy-body-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(12 * var(--px));
}
.container .wrapper .list-economy .list-economy-body .list-economy-body-items .info-left {
  display: flex;
  align-items: center;
  gap: calc(10 * var(--px));
}
.container .wrapper .list-economy .list-economy-body .list-economy-body-items .info-left img {
  width: calc(40 * var(--px));
}
.container .wrapper .list-economy .list-economy-body .list-economy-body-items .info-left p {
  color: var(--color-text-secondary);
  font-weight: 900;
}
.container .wrapper .list-economy .list-economy-body .list-economy-body-items .info-left .name {
  width: calc(180 * var(--px));
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .wrapper .list-economy .list-economy-body .list-economy-body-items .info-right {
  display: flex;
  align-items: center;
  font-weight: 900;
  gap: calc(10 * var(--px));
}
.container .wrapper .list-economy .list-economy-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(200 * var(--px));
  height: calc(25 * var(--px));
  background: rgb(18, 199, 234);
  border-radius: calc(40 * var(--px)) calc(40 * var(--px)) 0 0;
}
.container .wrapper .list-economy .triangle-down {
  width: 0;
  height: 0;
  border-left: calc(10 * var(--px)) solid transparent;
  border-right: calc(10 * var(--px)) solid transparent;
  border-bottom: calc(15 * var(--px)) solid #3CFF00;
}
.container .wrapper .list-economy .triangle-up {
  width: 0;
  height: 0;
  border-left: calc(10 * var(--px)) solid transparent;
  border-right: calc(10 * var(--px)) solid transparent;
  border-top: calc(15 * var(--px)) solid red;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-gray {
  color: #999;
}

.text-red {
  color: #e74c3c;
}

.text-green {
  color: #2ecc71;
}

.text-blue {
  color: #3498db;
}

.border-test {
  border-width: 1px;
  border-style: solid;
  border-color: #e74c3c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.poem::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  border-radius: calc(10 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar {
  width: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-track {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.poem-x::-webkit-scrollbar {
  width: calc(1 * var(--px));
  height: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}
