@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

body {
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
    user-select: none;
    background: transparent;
    height: 100vh;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

.view {
    display: flex;
    position: absolute;
    gap: .5vh;
    right: 0;
    top: 5vh;
}

.water-jar {
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(30, 30, 30, 0.9);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 2px solid #444;
    border-radius: 100%;
    overflow: hidden;
}

.water-jar .water-filling {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: bold;
    color: #626263;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.water-jar .water {

    width: 100%;
    height: 100%;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    background: #4dc0e3;
}

.water-jar .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
}



.water-jar .water_wave_front {
    left: 0;
    fill: #4dc0e3;
    margin-bottom: -1px;
    -webkit-animation: wave-front .7s infinite linear;
    animation: wave-front .7s infinite linear;
}

@-webkit-keyframes wave-front {
    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@keyframes wave-front {
    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}