@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

body {
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
    user-select: none;
    background: transparent;
    height: 100vh;
    margin: 0;
}

#task-panel {
    position: fixed;
    top: 70%;
    transform: translateY(-50%) scale(0.7);

    right: 20px;
    left: auto;

    display: flex;
    gap: 15px;

    padding: 20px 15px;
    border-radius: 50px;

    opacity: 100;
    transition: opacity 0.5s ease;
    z-index: 100;
}

#task-panel.show {
    opacity: 1;
}

.circle-container {
    position: relative;
    width: 50px;
    height: 50px;
}

.circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 0.9);
     box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 2px solid #444;
}

.water {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3498db;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -100%;
    left: -50%;
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 40%;
    animation: wave-animation 8s linear infinite;
}

.wave:nth-child(2) {
    animation: wave-animation 10s linear infinite reverse;
    opacity: 0.5;
    border-radius: 45%;
}

@keyframes wave-animation {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) translateY(0) rotate(360deg);
    }
}
.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: #2c3e50;
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
}